<body style="background-image: linear-gradient(-17deg, #F64B7F 4%, #F65C76 9%, #F67F64 21%, #F79C56 33%, #F7B24A 47%, #F7C242 61%, #F7CB3D 77%, #F7CE3C 100%);height:100%;margin:0;background-repeat:no-repeat;background-attachment:fixed;color: #FFFFFF;">
  <div style="padding-top:2%;" class="container-fluid text-center">
    <h1 style="font-size:3em; font-family: 'Gotham-medium';"> Sign Up </h1>
  </div>
  <div class="container sign-up-div">
    <div class="sign-up-details">
      <p> Sign up below for <%= @class.name %> on <%= @class.day %>s. </p>
    </div>
    <%= form_tag sign_up_path, :method => 'post', html: {class: "form-horizontal"} do %>
      <%= hidden_field_tag 'requested_class', @class.id %>
      <div class="form-group form-cell">
        <%= label_tag(:parent_name, "Parent's Name:", :class => "sign-up-label") %>
        <div >
          <%=text_field_tag :parent_name, "", class: 'form-control sign-up-field'%>
        </div>
      </div>
      <div class="form-group form-cell">
        <%= label_tag(:child_name, "Child's Name:", :class => "sign-up-label") %>
        <div >
          <%=text_field_tag :child_name, "", class: 'form-control sign-up-field'%>
        </div>
      </div>
      <div class="form-group form-cell">
        <%= label_tag(:email, "Email:", :class => "sign-up-label") %>
        <div >
          <%=email_field_tag :email, "", class: 'form-control sign-up-field'%>
        </div>
      </div>
      <div class="form-group form-cell">
        <%= label_tag(:phone, "Phone Number:", :class => "sign-up-label") %>
        <div >
          <%=text_field_tag :phone, "", class: 'form-control sign-up-field'%>
        </div>
      </div>
      <div class="form-group form-cell">
        <%= label_tag(:notes, "Additional Information:") %>
        <%= text_area_tag :notes, "", class: 'form-control sign-up-field' %>
      </div>
      <div class="form-group form-cell">
        <%=submit_tag "Submit" %>
      </div>
    <% end %>
  </div>

</body>