<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AcademicWorkshop</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body id="bootstrap-overrides">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <div id="custom-nav" style="color: #FFFFFF;font-weight: 300;font-size: 16px;" class="container text-center">
      <div id="classes-nav-tab" class="col-md-2 nav-tab">
        <%= link_to "Home/Latest News", root_path %>
      </div>
      <div id="results-nav-tab" class="col-md-2 nav-tab">
        <%= link_to "Results", results_path %>
      </div>
      <div id="staff-nav-tab" class="col-md-2 nav-tab">
        <%= link_to "Staff", staff_path %>
      </div>
      <div id="about-nav-tab" class="col-md-2 nav-tab">
        <%= link_to "About", about_path %>
      </div>
      <div id="location-nav-tab" class="col-md-2 nav-tab">
        <%= link_to "Location", location_path %>
      </div>
      <div id="login-nav-tab" class="col-md-2 nav-tab">
        <%= link_to "Log In", login_path %>
      </div>
    </div>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if @errors%>
      <div class="alert alert-danger" role="alert">
        <ul class="list-unstyled">
        <% @errors.each do |e| %>
          <li><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><%= e %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
